---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grid-gutter-width: 60px;
$text-color: #1c1c1c;

$color-dark: #1c1c1c;
$color-primary: #e00;
$font-family-sans-serif: 'Benton Sans';
$link-color: $color-primary;

@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

html {
	font-size: 10px;
}

body {
	background: $color-primary;
	font-family: $font-family-sans-serif;
	font-weight: 300;
}

.site-wrapper {
	background: #fefefe;
	min-height: 100vh;
	padding: 8rem;
	position: relative;

	@media screen and (max-width: $screen-md) {
		padding: 3rem 0;
	}
}

.container-fluid {
	max-width: 144rem;
}

.site-header {
	background: $color-dark;
	padding: 0;
	@media screen and (max-width: $screen-sm) {
		margin: -3rem -3rem 0 -3rem;
	}
}

.site-logo {
	display: block;
	padding: 4rem 4rem 0 4rem;
	img {
		max-width: 100%;
	}

	@media screen and (max-width: $screen-sm) {
		padding: 3rem 3rem 0 3rem;
	}
}

.site-nav {
	ul {
		list-style-type: none;
		margin: 3rem 0 0 0;
		padding: 0 0 3rem 0;
	}

	li {
		margin: 0;
		&:last-child {
			margin-bottom: 0;
		}
	}

	a {
		color: #fff;
		cursor: pointer;
		display: block;
		font-size: 1.4rem;
		font-weight: 300;
		line-height: 1em;
		padding: 0.75rem 4rem;
		transition: background 0.25s ease-in-out;
		
		&:hover,
		&:focus {
			background: $color-primary;
			color: #fff;
			text-decoration: none;
		}
	}

	@media screen and (max-width: $screen-sm) {
		ul {
			padding-bottom: 2rem;
		}

		a {
			padding-left: 3rem;
			padding-right: 3rem;
		}
	}
}

.section--divided {
	border-top: 1px solid $color-dark;
	
	@media screen and (max-width: $screen-sm) {
		border-top: none;
	}
}

.post__header {
	border-top: 4px solid $color-dark;	

	@media screen and (max-width: $screen-sm) {
		border-top: none;
	}

	.btn.btn-lg {
		margin-top: 1.5rem;
	}
}

.post__header__sub {
	columns: 300px 2;
}

.logos {
	div {
		box-sizing: border-box;
		padding: 2rem;
		width: 33.33%;
		float: left;
		text-align: center;
		height: 8rem;
		margin-bottom: 4rem;
	}

	img {
		max-height: 6rem;
		max-width: 100%;
	}

	@media screen and (max-width: $screen-sm-min) {
		div {
			width: 50%;
		}
	}
}

.section__header {
	border-bottom: 1px solid #fff;
	padding: 4rem 0;
	text-align: right;

	a {
		display: inline-block;

		&:hover {
			text-decoration: none;
		}
	}

	h3 {
		color: #999;
		margin: 0;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
	}

	@media screen and (max-width: $screen-sm) {
		padding-bottom: 0;
		text-align: left;

		h3 {
			color: #333;
			font-size: 2rem;
		}
	}
}

input[type="text"],
input[type="email"],
textarea,
.form-control {
	border: 2px solid $color-dark;
	border-radius: 0;
	padding: 2rem 1.25rem;
	&:focus {
		border: 2px solid #e00;
		box-shadow: none;
		outline: none;
	}
}

textarea.form-control {
	height: 12rem;
	padding: 1rem 1.25rem;
}

.section__body {
	padding: 4rem 0;
}

.header--large {
	font-size: 4rem;
	font-weight: 300;
	line-height: 1.4em;
	margin: -0.2em 0 1.5rem 0;
}

.header--medium {
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.4;
	margin: -0.2em 0 1em 0;
}

.header--small {
	font-size: 2.4rem;
	font-weight: 500;
	line-height: 1.4;
}

.header--xsmall {
	font-size: 1.4rem;
	font-weight: 600;
	line-height: 1.4;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.header__date {
	margin-bottom: 3rem;
}

.tile {
	border: 2px solid $color-dark;
	color: $color-dark;
	display: block;
	margin-bottom: 2rem;
	padding: 1rem;
	transition: background 0.25s ease-in-out;
		
	&:hover, &:focus {
		background: #f0f0f0;
		color: $color-dark;
		text-decoration: none;
	}
}

.tile--heavy {
	border: 4px solid $color-dark;
	font-size: 1.6rem;
	padding: 1.5rem 1rem;
}

.tile--block {
	display: block;
}

%is-external {
	padding-right: 5rem;
	position: relative;
	&:after {
		position: absolute;
		right: 1rem;
		top: 0;
		height: 100%;
		content: '';
		display: block;
		width: 2rem;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 100%;
	}
}

.is-external {
	@extend %is-external;
	&:after {
		background-image: url('/images/icon-arrow-right@2x.png');
	}
}

.is-external--reversed {
	@extend %is-external;
	&:after {
		background-image: url('/images/icon-arrow-right--reversed@2x.png');
	}
}

h1 {
	@extend .header--large;
}

h2 {
	@extend .header--medium;
}

h3 {
	@extend .header--small;
}

h4 {
	@extend .header--xsmall;
}

@media screen and (max-width: $screen-sm) {
	h3 {
		font-size: 3rem;
	}
}


.events-list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.event {
	display: flex;
	flex: 1 1 48%;
	margin: 0 0 1rem 0;
	
	&:nth-child(2n) {
		margin-left: 1rem;
	}

	@media screen and (max-width: $screen-sm) {
		flex: 1 1 auto;

		&:nth-child(2n) {
			margin-left: 0;
		}
	}

	a {
		border: 4px solid $color-dark;
		color: $color-dark;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		transition: background 0.25s ease-in-out;
		width: 100%;
		
		&:hover, &:focus {
			background: #f0f0f0;
			color: $color-dark;
			text-decoration: none;
		}
	}
}

.event--row {
	border: 4px solid $color-dark;
	color: $color-dark;
	cursor: pointer;
	display: block;
	font-size: 1.8rem;
	padding: 1rem 2rem;
	text-align: center;
	transition: background 0.25s ease-in-out;
	width: 100%;
}

.event__date {
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.event__title {
	font-size: 2.4rem;
	font-weight: 600;
}

.event__description {
	flex-grow: 1;
	line-height: 1.4;
	margin: 1.5rem 0;
}

.event__location {
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.event__address {
	font-size: 1rem;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

.post-content {
	p, ul, ol {
		font-size: 1.8rem;
		line-height: 1.7;
		margin-bottom: 1.5em;
	}

	hr {
		border-top: 1px solid $color-dark;
		margin: 3rem 0;
	}

	h3, h4 {
		margin-top: 3rem;
	}
}

.btn {
	font-weight: 300;
}

a {
	color: $color-primary;

	&:hover {
		color: darken($color-primary, 10%);
	}
}


.btn-default {
	border: none;
	border-radius: 0;
	background: #000;
	color: #fff;
	transition: background 0.25s ease-in-out, border 0.25s ease-in-out, color 0.25s ease-in-out;
	
	&:hover,
	&:focus {
		background: darken($color-primary, 10%);
		border: none;
		color: #fff;
	}
}

.btn-primary {
	border: none;
	border-radius: 0;
	background: $color-primary;
	color: #fff;
	transition: background 0.25s ease-in-out, border 0.25s ease-in-out, color 0.25s ease-in-out;
	
	&:hover,
	&:focus {
		background: darken($color-primary, 10%);
		border: none;
		color: #fff;
	}
}
.u-uppercase {
	text-transform: uppercase;
}