<div class="row">
  <div class="col-sm-4">
    {% include navigation.html %}
  </div>
  <div class="col-sm-8">
    <div class="section post__header">
      <div class="section__body">
        <h1 class="header--large">{{ page.title }}</h1>
        <div class="header__date header--xsmall">{{ page.date | date: '%B %d, %Y' }} @ {{ page.startTime | date: '%-I%p' }}</div>
        
        <div class="row">
        	<div class="col-md-6">
        		<div class="post-content">
              
              <p>{{ page.description }}</p>
          	</div>
          </div>

          <div class="col-md-6">
	          <div>
	          	<a href="//google.com/maps/place/{{ page.address }}" class="tile tile--block is-external" target="_blank">
		            <div class="event__location">{{ page.location }}</div>
		            <div class="event__address">{{ page.address }}</div>
		          </a>
		        </div>
            {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
            {% capture posttime %}{{ page.date | date: '%s'}}{% endcapture %}

		        <a href="{{ page.meetupLink }}" class="btn btn-primary btn-lg btn-block" target="_blank">{% if posttime >= nowunix %}RSVP{% else %}View{% endif %} on Meetup</a>
	        </div>
        </div>

      </div>
    </div>
  </div>
</div>