<div class="row">
  <div class="col-sm-4">
    {% include navigation.html %}
  </div>
  <div class="col-sm-8">
    <div class="section post__header">
      <div class="section__body">
        <h2 class="header--large">{{ site.description }}</h2>
        <div class="home__join-box">
          <h4>Join in</h4>
          <a href="http://www.meetup.com/Designers-Who-Code" class="u-margin-top-0 btn btn-primary btn-lg" target="_blank">San Francisco</a>
          <a href="http://www.meetup.com/Designers-Who-Code-NYC/" class="u-margin-top-0 btn btn-primary btn-lg" target="_blank">New York</a>
        </div>
      </div>
    </div>
  </div>
</div>