<section class="row section">
  <div class="col-sm-4">
    <header class="section__header">
      <a href="/about"><h3>Contact</h3></a>
    </header>
  </div>

  <div class="col-sm-8">
    <div class="section__body section--divided">
      <h3 class="header--medium">Interested in speaking, sponsoring, or hosting an event (or just want to chat)? Get in touch via our form or send an email to <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#100;&#119;&#99;&#46;&#105;&#111;">&#105;&#110;&#102;&#111;&#64;&#100;&#119;&#99;&#46;&#105;&#111;</a>!
    </div>
  </div>
</section>