<section class="row section">
  <div class="col-sm-4">
    <header class="section__header">
      <a href="/about"><h3>Contact</h3></a>
    </header>
  </div>

  <div class="col-sm-8">
    <div class="section__body section--divided">
      <h3 class="header--medium">Interested in speaking, sponsoring, or hosting an event (or just want to chat)? Get in touch via our form or send an email to <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#100;&#119;&#99;&#46;&#105;&#111;">&#105;&#110;&#102;&#111;&#64;&#100;&#119;&#99;&#46;&#105;&#111;</a>!</h3>

      <form action="//formspree.io/info@dwc.io"
      method="POST">
        <div class="form-group">
          <label for="form__name-1">Name</label>
          <input type="text" class="form-control" id="form__name-1" name="name" placeholder="John Doe" />
        </div>

        <div class="form-group">
          <label for="form__email-1">Email</label>
          <input type="email" class="form-control" id="form__email-1" name="_replyto" placeholder="jdoe@gmail.com" />
        </div>

        <div class="form-group">
          <label for="form__message-1">Message</label>
          <textarea class="form-control" id="form__message-1"></textarea>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary btn-lg btn-block" value="Send Message" />
        </div>
      </form>
    </div>
  </div>
</section>