<ul class="events-list">
  {% assign eventsList = site.events | sort: 'date' %}
  {% for event in eventsList %}
    {% capture nowunix %}{{'now' | date: '%Y%m%%d'}}{% endcapture %}
    {% capture posttime %}{{ event.date | date: '%Y%m%%d'}}{% endcapture %}
    {% capture pagedate %}{{ page.date | date: '%Y%m%%d'}}{% endcapture %}
    {% assign upcomingevents = false %}

    {% if posttime >= nowunix and posttime != pagedate %}

      <li class="event">
        <a href="{{ event.url }}">
          <div class="event__date">{{ event.date | date: '%B %d, %Y' }} @ {{ event.startTime | date: '%-I%p' }}</div>
          <div class="event__title">{{ event.title }}</div>
          <div class="event__description">{{ event.description }}</div>
          <div class="event__footer">
            <div class="event__location">{{ event.location }}</div>
            <div class="event__address">{{ event.address }}</div>
          </div>
        </a>
      </li>
      {% assign upcomingevents = true %}
    {% endif %}
  {% endfor %}

  {% if upcomingevents == false %}
    <li class="event">
      <a href="/contact">
        <div class="event__title">Uh oh!</div>
        <div class="event__description">It looks like we don't have any other upcoming events. If you'd be interested in sponsoring, hosting, or planning one, please do get in touch.</div>
        <div class="event__footer">
          <div class="event__location">Your place</div>
          <div class="event__address">(or ours?)</div>
        </div>
      </a>
    </li>
  {% endif %}
</ul>

